{% extends "AppPesca/base.html" %}

{% load static %}

{% block main %}

¡Bienvenido al emocionante blog de pesca de Mariano Gil! Como un apasionado pescador, me dedico a compartir las mejores fotografías de capturas de peces en este espacio.
Mi objetivo es celebrar los logros de todos aquellos que comparten mi misma pasión por la pesca deportiva.
En este blog, encontrarás fotografías increíbles de peces de todas las formas y tamaños, así como la especie de pescado, el lugar donde se capturó y todos los detalles que los pescadores quieran escribir acerca de sus experiencias en el mundo de la pesca.
Además, animo a todos mis seguidores a registrarse y compartir sus propias fotos y experiencias de pesca.

{% endblock %}