{% extends "AppPesca/base.html" %}
{% load static %}

{% block main %}
  <div class="container border border-dark p-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="text-center mb-4 border-bottom border-dark pb-3">Bienvenido al emocionante blog de pesca de Mariano Gil</h2>
        <p class="text-justify">Como un apasionado pescador, me dedico a compartir las mejores fotografías de capturas de peces en este espacio.
        Mi objetivo es celebrar los logros de todos aquellos que comparten mi misma pasión por la pesca deportiva.</p>
        <p class="text-justify">En este blog, encontrarás fotografías increíbles de peces de todas las formas y tamaños, así como la especie de pescado, el lugar donde se capturó y todos los detalles que los pescadores quieran escribir acerca de sus experiencias en el mundo de la pesca.</p>
        <p class="text-justify">Además, animo a todos mis seguidores a registrarse y compartir sus propias fotos y experiencias de pesca.</p>
      </div>
    </div>
  </div>
{% endblock %}

