{% extends "AppPesca/base.html" %}

{% load static %}



{% block main %}

<main>
  
  <div class="album py-5 bg-light">   
    
    <div class="container">
      <h1>{% block list-title %}Ultimas pescas{% endblock %}</h1>
      
      {% block cards %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% if not pescados %}
          <h1>Todavia no hay publicaciones de Pescas. Que esperas para subir la tuya?</h1>
    
        {% endif %}
    
        {% for pescado in pescados %}
    
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{pescado.image_url}}" data-holder-rendered="true"> 
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'pescado-detail' pescado.id %}"type="button" class="btn btn-sm btn-outline-secondary">Detalle</a>
                  {% if user.is_authenticated and user.id == pescado.propietario.id %}
                    <a href="{% url 'pescado-delete' pescado.id %}"type="button" class="btn btn-sm btn-outline-secondary">Borrar</a>
                    <a href="{% url 'pescado-update' pescado.id %}"type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                  {% endif %}
                </div>
                <small class="text-muted">Peso: {{ pescado.peso }} kg</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    
    
    
      
      {% endblock %}
    </div>
  </div>
</main>
{% endblock %}

