{% extends "AppPesca/base.html" %}

{% load static %}

{% block main %}

<div class="d-flex justify-content-center">
    <div class="col col-8" style="text-align: center;">
        <h1>Detalle del post</h1>
        <p class="lead">Fecha: {{ pescado.creado_el }}</p>
        <h1 class="mt-5">{{ pescado.nombre }}</h1>
        <p><img height="256px" src="{{pescado.image_url}}"></p>
        <p class="lead">Pescador: {{ autor }}</p>
        <p class="lead">Peso: {{ pescado.peso}}kg</p>
        <p class="lead">{{ pescado.detalle}}</p>
    </div>
</div>
{% endblock %}